body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
   font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal; 
  /*background-color: #CDE7B0;*/
  background: #e0ffc7 url(http://i.imgur.com/THNh3B9.gif) no-repeat center center fixed;
  opacity: 0.8; 
  background-size: cover;
  /*position: fixed; */

}

a {
  color: #00B7FF;
}
.well {
	background-color: #15a6d9;
	 /*A3BFA8*/
}

h1 {
	font-size: 75px;
	font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal; 
   color: orange;
}

.btn {
  background-color: #15a6d9;
  color: orange;
}