body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
   font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal; 
  /*background-color: #CDE7B0;*/
  background: #e0ffc7 url(http://i.imgur.com/THNh3B9.gif) no-repeat center center fixed;
  opacity: 0.8; 
  background-size: cover;
  /*position: fixed; */
}

a {
  color: #00B7FF;
}
.well {
	background-color: #15a6d9;
	 /*A3BFA8*/
}

h1 {
	font-size: 75px;
	font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal; 
   color: orange;
}

.btn {
  background-color: #15a6d9;
  color: orange;
}

.btn:hover {
  background-color: orange;
  color: #15a6d9;
}

input {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: '8BITWONDERNominal'; 
    border-bottom-color: #b3b3b3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #b3b3b3;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #b3b3b3;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #b3b3b3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;`
}

.deleteBtn {
  background-color: #15a6d9;
  color: orange;
}

#quote{
  color: #15a6d9;
}

#lname {
  font-size: 25px;
  text-align: center;
}

#deletelist {
  text-align: center;
}

#form {
  text-align: center;
}

#newList {
  text-align: center;
  padding: 17px;
}

